
<div class="nav-bar">
    <div class="nav-bar-item-img" routerLink="/">
        <img src="..\..\assets\img\logo.png">
    </div>
    <div class="nav-bar-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a>Home</a>
    </div>
    <div class="nav-bar-item" routerLink="portfolio/signup" routerLinkActive="active">
        <a>Portfolio</a>
    </div>
    <div class="nav-bar-item" routerLink="exchange" routerLinkActive="active">
        <a>Exchange</a>
    </div>
</div>



