button{
    margin-left: 10px;
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: row;
    
}

span{
    font-size: 17px;
    
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
    margin-right: 1rem;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1.3rem;
    margin-right: 1rem;
}

.contenedor {
    padding-left: 40px;
}

.caja {
    width: 800px;
}

.new-investment * {
    margin-right: 1rem;
    width: 200px;
    height: 40px;
}

.new-investment, .section-info {
    display: flex;
    align-items: baseline;
}