<main class="mt-5 pt-5">
<div class="border border-dark p-3">
<h2>Crypto-App Log In 🚀</h2>

<input placeholder="Introduce your username" [(ngModel)]="username" (click)="getUsers()">
<input type="password" placeholder="Introduce your password" [(ngModel)]="password">
<button class="btn btn-dark my-3" (click)="signIn()">Log In</button>


<p class="alert alert-danger" role="alert" *ngIf="flag === false">Incorrect username or password, please try again</p>

<p> Don't have an account? Register 
    <a [routerLink]="['/portfolio/register']">here</a>!🤑
</p>
</div>
</main>
